@model IEnumerable<GameDevAgency.Models.GameDto>
@{
    ViewBag.Title = "Game List";
}

<div class="d-flex align-items-center gap-4">
    <h2>Game List</h2>
    <a href="/Game/Add" class="btn btn-primary">Add Game</a>
</div>
@foreach (var game in Model)
{
    <div class="py-4 border-bottom">
        <h3><a href="/Game/Details/@game.GameId" class="text-dark">@game.GameName </a></h3>
        <p class="text-dark">@game.GameDescription</p>
    </div>
}
